* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
 /*gives the entire page a border with no margin or padding^^^^^^*/
body {
    background-color: #d9dcd6;
}
/*gives the body a color of #d9dcd^^^^^ */
/*-------------------------------------------------------------------header section BELOW------------------------*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*adds specific fonts and colours to header^^^^^^^^ */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*adds inline property to header elements^^^^*/

.seo {
    color: #d9dcd6;
}
/*color of letters seo in header change^^^^ */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*adds positioning fonts/ font sizes and padding top/right to elements to the right of Horiseon header text^^^^^^^^^^^^^^^ */


.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*add margin and display of inline to elements to the right of horiseon logo in header^^^^^^^^^^^^^^^^ */
a {
    color: #ffffff;
    text-decoration: none;
}
/*gives white color to links of elements to the right of horiseon logo in header^^^^^^^^^^*/
/*-------------------------------------------------------------------header section ABOVE----------------------------------*/
p {
    font-size: 16px;
}
/*give a font to all p/text elements on site^^^^^^^*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*gives positioning to background image under the header^^^^^^^^^*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*moves element to the right^^^^^*/
.float-right {
    float: right;
    margin-left: 25px;
}
/*moves elements to the left^^^^^^^^^*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*gives the content width and a display of inline with a margin*/
/*--------------------------------------------------------------benefits section BELOW-------------------------------------------------*/
/*keeps content section under background image to the left and inline */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*benefits section on the right side of the website gives it a cute background color of a light blue and gives it a primary font^^^^^^^*/
.benefit-lead , .benefit-brand ,  .benefit-cost{
    margin-bottom: 32px;
    color: #ffffff;
}
/*gives benefits section a margin^^^^^*/

.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/*aligns the text that belongs in benefits*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*centers the img elements of the benefits section*/
/*--------------------------------------------------^^^^^^^^^^^^^^^^^^^benefits section ABOVE^^^^^^^^^^^^^^^^^----------------------------------*/
/*--------------------Content/.search-engine-optimization, .online-reputation-management, .social-media-marketing section BELOW-------------------------------------- */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*gives content elements fonts and colors and paddings/margins/heights*/

.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}
/*gives the max height of content elements*/

.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^Content/.search-engine-optimization, .online-reputation-management, .social-media-marketing section ABOVE^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*give the footer some fonts and aligns the text to center with a padding style here aswell*/

.footer h2 {
    font-size: 20px;
}
/*gives the second footer section a font of 20px*/
